<!-- info card -->
<article class="info-card">
    <div class="info-card__header">
        <h3 class="info-card__header__title">{{this.title}}</h3>
        <span class="f-icon f-icon__{{icon}} info-card__header__icon">

        </span>
    </div>
    <div class="info-card__highlight">
        <span class="info-card__highlight__number status--{{this.status}}">{{this.highlightNumber}}</span>
        <span class="info-card__highlight__label">{{this.highlightLabel}}</span>
    </div>
    <div class="info-card__footer">
        <span class="info-card__footer__label">{{this.footerLabel}}:</span>
        <span class="info-card__footer__value">{{this.footerValue}}</span>
    </div>
</article>
